

.author-avatar {
    grid-area: avatar;
    align-self: start;
    position: relative
}

.author-avatar img {
        /* border-radius: 50%; */
    width: 60px;
    height: 60px !important;
    display: block;
    overflow: hidden;
    margin: -22px 10px 10px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.author-avatar .half-circle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80px;
    height: 56px;
    fill: none;
    stroke: url(#orange-to-pink);
    stroke-width: 8;
    stroke-linecap: round;
    pointer-events: none
}

@media(max-width:800px) {
    .author-avatar img {
        width: 35px;
        height: 35px !important
    }
    .author-avatar .half-circle {
        width: 55px;
        height: 40px
    }
}

.author-name-prefix,
.comments-prefix,
.date-prefix,
.shared-by-prefix,
.type-of-guide {
    font-family: Ringside Regular A, Ringside Regular B, Rubik, Lato, Lucida Grande, Lucida Sans Unicode, Tahoma, Sans-Serif;
    font-style: normal;
    font-weight: 700;
    color: #7a7a8c
}

.author-name-area {
    grid-area: author
}

.article-comments-meta {
    grid-area: comments
}

.author-name,
.comments-link,
time {
    font-family: Sentinel SSm A, Sentinel SSm B, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol
}

.number-of-comments {
    display: block
}

.icon-arrow-right {
    width: 24px;
    height: 24px
}

.comments-link {
    white-space: nowrap;
    display: inline-block;
    position: relative;
    padding-right: 30px
}

.date time {
    color: #fff
}

.date {
    grid-area: date
}

.article-card {
    margin: 0 0 8rem;
    position: relative;
    overflow: hidden
}

.article-card .article-article {
    position: relative;
    z-index: 1
}

.article-card.link:not(.module-sponsored) h2 {
    margin-bottom: 2.6rem
}

.article-card.link .read-more {
    display: none
}

@media(max-width:800px) {
    .article-card .article-content {
        padding-right: 15%
    }
    .article-card .article-content>* {
        display: none
    }
    .article-card .article-content>p:first-of-type {
        display: block;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden
    }
}

.article-card .article-content-meta .author-avatar,
.article-card .article-publication-meta .author-avatar {
    grid-area: auto
}

.article-content-meta,
.article-publication-meta {
    white-space: nowrap
}

.link-shared-by {
    display: flex;
    align-items: center;
    font-size: .8rem;
    line-height: 1.2;
    color: #7a7a8c;
    padding-right: 1rem;
    margin: -2.4rem 0 1rem
}

.link-shared-by span {
    color: #b1b1b1
}

.link-shared-by svg {
    fill: #ff8a00
}

.link-shared-by .author-avatar {
    margin-right: 1rem
}

.link-shared-by:focus,
.link-shared-by:hover {
    -webkit-text-fill-color: #c2c2c2 !important;
    color: #c2c2c2 !important
}

.link-shared-by:focus span,
.link-shared-by:hover span {
    -webkit-text-fill-color: #fff !important;
    color: #fff !important
}

.link-links {
    font-weight: 700;
    color: #7a7a8c;
    margin: 0 0 1.5rem
}

.link-links a:focus,
.link-links a:hover {
    -webkit-text-fill-color: #fff !important;
    color: #fff
}

.icon-link {
    width: 20px;
    height: 12px;
    fill: #fff
}

.tags {
    margin: 1rem 0 2rem;
    padding: .5rem 0 1rem;
    line-height: 2;
    text-align: center;
}

@media(max-width:800px) {
    .tags {
        margin: 0
    }
}

.tags a {
        color: #7a7a8c;
    text-transform: uppercase;
    font-size: .66rem;
    white-space: nowrap;
    border: 2px solid #ffffff;
    border-radius: 8px;
    padding: 8px;
}

.tags a:focus
{
    color: black;
    border-color: #fff;
    position: relative
}

.tags a:hover {
    color: #03a9f4;
    border-color: #fff;
    position: relative
}

.header-card {
    background-image: linear-gradient(0deg, #fec931, #49d1ca);
    position: relative;
    border-radius: 16px;
    padding: 2rem;
    margin: 0 4rem 0 0;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    flex: 0 0 320px
}

.header-card p {
    margin: 0;
    font-size: .8rem
}

@media(max-width:1200px) {
    .header-card {
        -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        flex: 0;
        width: 110px;
        margin-right: 1rem
    }
    .header-card a:after,
    .header-card br {
        display: none
    }
}

.header-card-title {
    font-size: 1.6rem;
    margin: 0 0 .5rem
}

.popular-articles {
    box-sizing: content-box;
    display: flex;
    width: calc(100vw - 71px);
    margin: 0 0 5rem;
    padding: 2rem 0
}

@media(max-width:1200px) {
    .popular-articles {
        scrollbar-color: #666 #201c29;
        width: 100%;
        padding-bottom: 2rem;
        margin-bottom: 6rem;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        -ms-scroll-snap-points-x: repeat(250px);
        scroll-snap-points-x: repeat(250px);
        -ms-scroll-snap-type: mandatory;
        scroll-snap-type: mandatory
    }
    .popular-articles::-webkit-scrollbar {
        width: 10px;
        height: 10px
    }
    .popular-articles::-webkit-scrollbar-thumb {
        background: #f2c02a;
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px hsl(45deg 88% 56%), inset -2px -2px 2px rgb(242 192 42);
    }
    .popular-articles::-webkit-scrollbar-track {
        background: linear-gradient(90deg, #676159, #676159 1px, #676159 0, #676159);
    border-radius: 10px;
    }
    .popular-articles .mini-card {
        scroll-snap-align: start
    }
}

@media(max-width:1200px) {
    .popular-articles {
        padding-left: 0
    }
}

.popular-header {
            margin: 3rem 1rem;
}

.popular-header .edit-popular {
    position: absolute;
    top: 5px;
    right: 5px
}

.header-card-sponsor {
    color: #ffffff;
}

.mini-card-grid {
    display: flex;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    margin: 0 0 1.5rem;
}

.mini-card-grid {
    scrollbar-color: #666 #201c29;
    scrollbar-gutter: always;
    padding: 3rem;
    margin: 0;
    gap: auto;
    display: flex;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch
}

.mini-card-grid::-webkit-scrollbar {
    width: 10px;
    height: 10px
}

.mini-card-grid::-webkit-scrollbar-thumb {
    background: #f2c02a;
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px hsl(45deg 88% 56%), inset -2px -2px 2px rgb(242 192 42);

}

.mini-card-grid::-webkit-scrollbar-track {
    background: linear-gradient(90deg, #676159, #676159 1px, #676159 0, #676159);
    border-radius: 10px;

}

@media(max-width:1200px) {
    .mini-card-grid {
        overflow-x: visible
    }
}

.tags a {
    font-family: Ringside Regular A, Ringside Regular B, Rubik, Lato, Lucida Grande, Lucida Sans Unicode, Tahoma, Sans-Serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    width: 50%;
}

.mini-card {
    padding: 1.5rem;
    border-radius: 16px;
    background: black;
    color: #fff;
    display: flex;
    flex-direction: column;
    transition: .2s;
    margin: 0
}

/*.mini-card {
    min-width: 300px;
    min-height: 350px;
    box-shadow: 0rem 0 1rem #7b6d6d;
}*/

.mini-card:focus-within,
.mini-card:hover {
    transform: translateY(-1rem)
}

.mini-card:focus-within~.mini-card,
.mini-card:hover~.mini-card {
    transform: translateX(130px)
}

.mini-card:not(:first-child) {
    margin-left: -130px
}

@media(max-width:1200px) {
    .mini-card {
        min-width: 220px
    }
    .mini-card:not(:first-child) {
        margin-left: -30px
    }
    .mini-card:hover {
        transform: translateY(-1rem)
    }
    .mini-card:hover~.mini-card {
        transform: translateX(30px)
    }
}

@media(max-width:800px) {
   .mini-card {
        min-width: 190px
    }
   .mini-card:not(:first-child) {
        margin-left: -10px
    }
    .mini-card:hover {
        transform: translateY(-1rem)
    }
    .mini-card:hover~.mini-card {
        transform: translateX(10px)
    }
}

.mini-card h2 {
    font-size: 20px;
    margin: .25rem 0 auto
}

.mini-card h2 a {
    color: #fff
}

.mini-card a {
    text-decoration: none
}

.mini-card .author-name {
    color: #fff
}

.mini-article-subhead {
    font-size: 14px;
    margin: 0 0 1rem
}

.mini-article-card-header {
    margin-bottom: auto
}

.mini-article-meta {
    font-size: 14px
}

.mini-article-meta .author-name {
    display: inline-block;
    position: relative
}

.mini-article-meta .author-avatar img {
    width: 60px;
    height: 60px !important;
}

.mini-article-meta .author-avatar .half-circle {
    width: 60px;
    height: 48px
}
.mini-article-card-title{
	padding-top: 18px;
}
.mini-article-byline {
    margin: 3rem 0 0;
    display: inherit;
    grid-template-columns: 75px 1fr;
    align-items: center

}

.mini-article-byline .author-avatar,
.mini-article-byline .author-name-area {
    grid-area: auto
}

.authors-page-wrap {
    padding: 2rem
}

.related-ads-comments-wrap,
.respond-area {
    background: #100e17
}

.respond-area {
    padding: 0 2rem;
    margin: 0 auto
}

@media(max-width:800px) {
    .respond-area {
        padding-left: 1rem;
        padding-right: 1rem
    }
}


.CommentForm .comment-wrap .author-avatar,
.commentlist .comment-wrap .author-avatar,
.comment ul .comment-wrap .author-avatar {
    margin: 0;
    align-self: start;
    grid-area: auto
}

.CommentForm .comment-wrap .author-avatar .half-circle,
.commentlist .comment-wrap .author-avatar .half-circle,
.comment ul .comment-wrap .author-avatar .half-circle {
    stroke: #7a7a8c
}

@media(max-width:800px) {
    .CommentForm .comment-wrap .author-avatar,
    .commentlist .comment-wrap .author-avatar,
    .comment ul .comment-wrap .author-avatar {
        height: 49px
    }
}

.CommentForm .comment-wrap:target,
.commentlist .comment-wrap:target,
.comment ul .comment-wrap:target {
    border: 1px solid #ffeb3b
}
}


.article-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-gap: 6rem 4rem
}

.article-grid .article-card {
    margin-bottom: 0
}

@media(max-width:800px) {
    .article-grid {
        display: block
    }
    .article-grid .article-card {
        margin-bottom: 6rem
    }
}

.mini-card {
    
    min-width: 300px;
    min-height: 350px;
    box-shadow: 0rem 0 5px #7b6d6d;
}
.gradient-primary{
	    background-color: #3DBBC2;
}





